ol{
    margin-top: -20px;
    margin-left: -40px;
    list-style-position: inside;
}
p{
    color:red
}
.note{
    font-size: 20px;
}
#demo{
    color: green;
}
li[value="4"]{
    color: blue;
}
*{
    text-align: center;
    /* own stylg */
    color: hotpink;
    background-color: greenyellow;
}